/* General Styling */


body {
  margin: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

#main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #071D49;
}

h1 {
  align-self: stretch;
  color: #071D49;
  font-family: Poppins;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

h2 {
  align-self: stretch;
  color: #071D49;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;

}

h3 {
  align-self: stretch;
  color: #071D49;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
  text-decoration: none;

}

p {
  color: #0F172A;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;

}




/* Header */
.header {
  display: flex;
  padding-left: 40px;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
  background-color: #071D49;
  color: white;
}

.header .logo img {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.header .nav {
  display: flex;
  height: 35px;
  padding-left: 48px;
  padding: 12px 0px;
  align-items: center;
  gap: 16px;

}

.header .nav .nav-link {
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.header .nav .nav-link:hover {
  color: #ADBDDD;
  border-bottom: 3px solid var(--White, #FFF);

}


.phone-number {
  color: white;
  text-decoration: none;
  padding-left: 600px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;

}


/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 220px;
  padding: 4px 0;
  margin: 0;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 12px 16px;
  background: var(--Field-background, #FFF);
  color: #0F172A;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0px 0px 8px 8px;
  line-height: normal;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: normal;
  word-wrap: break-word;
}

.dropdown-item:hover {
  background-color: #F5F7FA;
}

/* About Page */
.about-page {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.about-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: left;
  padding: 40px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #55565b;
  margin-bottom: 20px;
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Quote Section */
#quote-section {
  margin-top: 40px;
}

/*Quote Form*/

.quote {
  padding: 80px;
}

.quote-form-container {
  display: flex;
  height: 982px;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  column-gap: 40px;
  margin-top: 22px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 0px 6px 0px rgba(0, 0, 0, 0.07);
}

.quote-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-column {
  flex: 1;
}

.quote-form label {
   color: #232323;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  
}

.quote-form input,
.quote-form select {

 
  border-radius: 15px;
  border: 1px solid #DFEAF2;
background: #FFF;
color: #718EBF;
font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
opacity: 0.45;
}

.quote-button-container {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
border: 2px solid #D5051B;
background: #D5051B;
}

.quote-button-form {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  letter-spacing: 0.5px;
}

.quote-button-form:hover {
  transform: scale(1.1);
}



/*Home*/
/* Banner Container */
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 727px;
  background-color: white;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shape-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  height: 700px;
  object-fit: cover;
}

.banner-text {
  position: relative;
  z-index: 2;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  color: #0F172A;
}

.banner-image {
  position: relative;
  z-index: 3;
  width: 682px;
  height: 682px;
  margin-right: 50px;

}

.banner-button {
  display: flex;
  margin-top: 80px;
  padding: 20px 24px;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #D5051B;
  background: #D5051B;

}

.quote-button {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 100% */
  letter-spacing: 0.5px;
}

.quote-button:hover {
  transform: scale(1.1);
}

/* Home About Section */

.company-description-container {
  display: flex;
  height: 653px;
  padding: 80px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #F1F5F9;

}

.company-text {
  flex: 1;
  text-align: left;
  margin-right: 40px;
}

.company-image {
  flex: 1;
}

.company-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/*Home Services*/

.home-services {
  display: flex;
  height: auto;
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  background: white;
}

.services-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.services-title-line {
  width: 389px;
  height: 8px;
  background-color: #D5051B;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  column-gap: 80px;
  row-gap: 48px;
  align-self: stretch;
}

.service-card {
  display: flex;
  height: 356px;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 0px 6px 0px rgba(0, 0, 0, 0.07);
}

.service-card-text-container {
  padding: 20px;
}

.service-icon {
  display: block;
  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.service-description {
  color: #071D49;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-decoration: none;
  margin: 0px;
}

.readmore {
  color: #071D49;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;

}

/*About us*/
.about-page {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.about-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  padding: 40px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #55565b;
  margin-bottom: 20px;
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Quote Section */
#quote-section {
  margin-top: 40px;
}

/*Services page*/

.services-page {
  padding: 20px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Create 3 columns */
  gap: 20px;
  /* Space between cards */
  width: 100%;
  max-width: 1200px;
  /* Prevent the grid from being too wide */
  margin: 0 auto;
  /* Center the grid */
  padding: 20px;
}

.servicepage-card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.servicepage-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.learn-more-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background: #d30000;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #b10000;
}

/* OneServicePage */
.one-service-page {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.service-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  padding: 40px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.service-text {
  flex: 1;
  min-width: 300px;
}

.service-text h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}

.service-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #55565b;
  margin-bottom: 20px;
}

.service-image {
  flex: 1;
  min-width: 300px;
}

.service-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Quote Section */
#quote-section {
  margin-top: 40px;
}

.quote-btn {
  background-color: #d32f2f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-btn:hover {
  background-color: #b71c1c;
}



/* Articles Page */
.articles-page {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
}

.page-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 40px;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.article-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.article-image {
  max-width: 100%;
  border-radius: 8px;
}

.articles-title {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  margin: 15px 0;
}

.article-text {
  font-size: 14px;
  color: #55565b;
  margin-bottom: 20px;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #dc3545;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.article-meta {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}


/* One Article Page */

.one-article-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.article-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: left;
}

.article-image {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.article-text {
  font-size: 16px;
  color: #55565b;
  line-height: 1.8;
}

.article-meta {
  font-size: 14px;
  color: #777;
  margin-top: 20px;
}

/* Sidebar Styling */
.latest-articles {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.latest-articles h2 {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.latest-articles ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.latest-articles li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.latest-articles li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.latest-articles li h3 {
  font-size: 16px;
  margin: 0;
  color: #2c3e50;
  font-weight: bold;
  text-decoration: none;
}

.latest-articles li h3:hover {
  text-decoration: underline;
}

.latest-articles li p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 0;
}

.latest-articles li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.latest-articles li a:hover h3 {
  color: #D30000;
}

.latest-articles li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Products Page */
.products-page {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: #f8f9fa;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.products-title {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 30px;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #e63946;
}

/* Contacts */
.contact-page {
  background: #f6faff;
  padding: 40px;
  font-family: 'Gilroy-Medium', sans-serif;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 36px;
  color: black;
  font-family: 'Gilroy-Bold', sans-serif;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 16px;
  color: #969696;
  font-family: 'Gilroy-Medium', sans-serif;
  line-height: 1.6;
}

/* Contact Container */
.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Contact Information Section */
.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-card {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.contact-card h2 {
  font-size: 24px;
  color: black;
  font-family: 'Gilroy-Bold', sans-serif;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 16px;
  color: #969696;
  font-family: 'Gilroy-Medium', sans-serif;
}

/* Contact us */
.contact-form-container {
  flex: 1;
  min-width: 400px;
}

.contact-form {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form .form-row {
  display: flex;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background: #d30000;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Gilroy-SemiBold', sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background: #c9302c;
}


/*Thank you*/
.thank-you-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(60vh - 100px);
}

.thank-you-container h1 {
  color: #d30000;
  font-size: 2rem;
}

.thank-you-container p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.back-home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #55565b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.back-home-link:hover {
  background-color: red;
}

.Footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 250px;
  margin: 10px 60px;
}

/* Footer Logo */
.footer-logo img {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

/* Footer Navigation */
.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  margin: 10px 0;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

/* Footer Contact */
.footer-contact p {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.footer-contact i {
  margin-right: 10px;
}

.footer-contact {
  margin-bottom: 40px;

}

/* Footer Social Links */
.footer-social a {
  color: #fff;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
}

.footer-social a:hover {
  color: #00aced;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
    /* 1 card per row for mobile devices */
  }
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row for smaller screens */
  }
}